NUXT_PUBLIC_API_URL=http://localhost:3001
NUXT_PUBLIC_READER_API_URL=http://localhost:3001
NUXT_PUBLIC_MEMORY_API_URL=http://localhost:3001
NUXT_PUBLIC_AI_API_URL=http://localhost:3001
NUXT_PUBLIC_AUTH_API_URL=http://localhost:3001
NUXT_PUBLIC_CANVAS_API_URL=http://localhost:3001
