*.log
*.tmp
*.class
*.jar
*.war
*.ear
target/
build/
out/
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.swp
.DS_Store
.env
*.env
.env.*
!.env.example
!.env.exemple
.gradle/
node_modules/
public/
Dist/
coverage/
.tmp/
*.sql
*.sqlite
*.db

# Build & Tooling Outputs
.nuxt/
.output/
playwright-report/
test-results/

